/* You can add global styles to this file, and also import other style files */
body{
    min-height: 100vh;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(102,102,105,1) 49%, rgba(255,255,255,1) 100%);
}